{%extends "bare_base.html" %}
 
{% block mainbody %}
<div class="row" style="margin: 20px">
<div align="center">
<h2>意念干扰随机数发生器</h2>
<h3>实验介绍</h3>
</div>
<hr>
<p>这个项目试图重复一项成熟的超心理学实验。<br>

2006年，心理学顶级刊物Psychological Bulletin表的一篇文章, 对1961年开始的380项意念影响随机数发生器的研究，进行了荟萃分析[1],结论是意念可以对随机数发生器(RNG)产生微弱的影响，这种影响具有非常显著的统计学意义。<br>

本项目希望借助手机平台，对这一效应进行广泛的测试和确认。<br>

</p>
<hr>
<h4><b>实验原理</b></h4>

<p>在实验页面，实验参与者点击“开始”按钮时，手机向远端服务器发送一个请求，服务器通过intel内置的基于热噪音的随机数发生器(RNG)[2],生成10000个取值为0或1的真随机数，并把10000个随机数相加的结果返回到手机。<br>



正常情况下，RNG生成数字0和1的概率相同，但根据超心理学进几十年来的研究结论，人的意念可以对RNG产生非常微弱，但具有显著统计意义的影响。有的大样本研究表明，意念可以让一种随机数出现的概率由0.5偏离至0.50018[3]，更有甚者，有报道这种偏离可以达到0.51[4]。<br>



根据超心理学的研究结论，实验参与者点击“开始”按钮，并发出一个影响随机数发生器的意念时，服务器生成随机数的概率将会发生非常微弱，但可以通过统计分析捕捉到的变化。<br>



手机平台让大众参与这个实验变得十分便利，本实验希望有足够规模的参与者参与，进一步验证这一效应的真实性。并且我们认为，不同个体可能对随机数发生器具有不同的影响力，这种影响力有可能是先天的，也有可能是经过后天训练获得的。我们希望能够通过这项实验，找到真正掌握意念运用技巧的“功能人”，参与更加深入的研究。<br>

</p>
<hr>
<h4><b>参与方式</b></h4>
<p>微信扫描下方二维码, 进入公众号“超心理实验空间”,点击“实验”，即可参与实验：</p>
<img src="/static/QR_code.jpg">

<hr>
<h4><b>练习与试验</b></h4>

<p>本实验设计了“练习”与“试验”两种模式。<br>



因为每个人控制意念的方法各不相同，运用意念的技巧需要不断地摸索和总结，这个摸索过程可能会干扰到总体实验结果，所以设置了“练习”模式让参与者摸索意念控制技巧。当参与者在这一模式下取得了较好成绩，就有理由相信(他她）已经掌握了某种意念控制技巧，从而可以参与正式试验。<br>



正式试验都由掌握了意念控制技巧的人参与，就有可能减少干扰因素，提高实验质量。<br>


获得“试验”模式权限的标准是：“练习”模式下，大于10轮次的单组练习中，获得3分以上成绩。<br>


</p>
<hr>
<h4><b>奖励规则</b></h4>

<p>为了激励参与者的热情，通过实验寻找到真正掌握意念运用技巧的“功能人”，本实验设立了最高奖金额度50万元的大奖。奖励规则如下：<br>

在练习模式中，大于10轮的单组练习，获得3分以上成绩，即可获得100元奖励，并可以参与到正式测试中，赢取进一步奖励。<br>

试验模式中，累计成绩达到3分，即可获得500元奖励<br>

试验模式中，累计成绩达到4分，即可获得5000元奖励<br>

试验模式中，累计成绩达到5分，即可获得50000元奖励<br>

试验模式中，累计成绩达到6分，即可获得500000元奖励<br>

（每个阶段的奖励，每人只计算一次，不重复计算）<br>

</p>
<hr>
<h4><b>计分方法</b></h4>

<p>

在实验页面，参与者要选择干扰的方向, 如果选择“很大”,则期望生成更多1。如果选择“很小”则期望生成更多0。<br><br>
分数 = 累计偏差 / 标准差<br><br>

<b>其中:</b><br>
标准差 =  （实验生成随机数总数）开平方 / 2<br>
累计偏差 = 期望随机数字的总个数 - 实验生成随机数总数 / 2<br>
<h6>(说明:如果选择干扰方向为“很大”，期望随机数字为1，选择干扰方向为“很小”，期望随机数字为0)</h6><br>



“练习模式”中，以单组实验的数据计算得分。“试验模式”中，以测试模式下所有实验的数据计算得分。<br><br>

如果能够用意念让RNG生成1的概率由0.5稳定的偏离到0.51，那么经过3轮实验就可以获得3分，20轮实验就可以获得6分。

</p>
<hr>
<h4><b>相关信息</b></h4>
<p>
项目代码地址：https://github.com/yfszzx/RIWRNG<br>

服务器cpu型号：Intel(R) Xeon(R) Platinum 8269CY CPU @ 2.50GHz<br>

服务器信息：阿里云ECS云服务器，服务器位置在广东河源<br>
</p>
<hr>
<h4><b>参考文献</b></h4>
<p>
1.Bösch, H., Steinkamp, F., & Boller, E. (2006). Examining psychokinesis: The interaction of human intention with random number generators—A meta-analysis. Psychological Bulletin, 132<br>

2.https://www.cnblogs.com/PheonixHkbxoic/p/5764673.html<br>

3.Radin, D. I., & Nelson, R. D. (1989). Evidence for consciousness-related anomalies in random physical systems. Foundations of Physics<br>

4.Radin, D. I. (1997). The conscious universe. San Francisco: Harper Edge. Radin, D. I., & Ferrari, D. C. (1991). Effects of consciousness on the fall of dice: A meta-analysis. Journal of Scientific Exploration, 5, 61– 83. 

</p>


</div>
{% endblock %}