{%extends "base.html" %}
 
{% block mainbody %}
   
<div class="row" align="center">
  <div style="width:400px; color:#1e6099">
    <h4><b>您还未获得参与测试权限</b></h4>
    <p style="color:black">为了提高实验质量，只有掌握了一定的意念控制技巧的参与者进入正式测试</p>
    <h4><b>获得测试权限的方法</b></h4>
    <p style="color:black">您需要在“练习模式”中摸索干扰随机数发生器的技巧，当您在一个不少于10轮的练习中获得3分以上的成绩，说明您可能已经很好掌握了应用意念的技巧，将获得参与正式测试的资格</p>
    <h3><b>加油</b></h3>
    <hr />
    <a class="btn btn-primary" href="/riwrng/main">返回</a>
  </div>
</div>



{% endblock %}