{%extends "base.html" %}
 
{% block mainbody %}
   
<div class="row" align="center">
    <br><br>
    <div>
         <figure style="width: 100px;height: 100px;">
                    <img  src="{{request.user.headimgurl}}" class="img-thumbnail .img-rounded" alt="头像"/>
         </figure>   
    </div>
    <h5>{{request.user.nickname}}</h5>
    <br>
    <div>
        <div  >
            <button type="button" style="width: 150px;" class="btn btn-primary btn-lg " mod="t">练&nbsp;习 <span style='float:right;font-size:16px;color:#a2bcd4' class="glyphicon glyphicon-question-sign explain" 
            data-container="body" data-toggle="popover" data-placement="top" 
            data-content="用于意念干扰的练习，结果不计入正式成绩。" ></span> </button>
          
        </div> 
        <br>
        <div  >
            <button type="button" style="width: 150px;" class="btn btn-primary btn-lg " mod="e">试&nbsp;验  <span style='float:right;font-size:16px;color:#a2bcd4' class="glyphicon glyphicon-question-sign explain" data-container="body" data-toggle="popover" data-placement="top" 
            data-content="正式测试，成绩作为试验正式结果。在“练习”模式中，评分大于3时，才能获得参与试验的权限" ></span></button>
        </div> 
        
        <br>
        <div>
        <a href="/riwrng/about">实验说明</a>&nbsp;&nbsp;<a href="/riwrng/performance">查看成绩</a>        
      </div>
      {% if request.user.grade > 0 %}
      <hr>
      <a id='contact' href="#">联系主办方</a>
      {% endif %}
    </div>

</div>

<script type="text/javascript">
    
$(document).ready(function(){
  $("[data-toggle='popover']").popover(); 
  $(".explain").click(function(){
        event.stopPropagation();   
  });
  $(".btn").click(function(){
    window.location.href='/riwrng?mod=' + $(this).attr('mod');
  });
   {% if request.user.grade > 0 %}
  $('#contact').click(function(){
    alert("请致电15882062042 杨先生 联系领取奖金、参与进一步实验等事宜");
  })
  {% endif %}
});
</script>

{% endblock %}