{%extends "base.html" %}
 
{% block mainbody %}
<div class="panel panel-primary  text-white">
    <div class="panel-heading">
        <h3 class="panel-title">
            练习成绩
        </h3>
    </div>
    <div class="panel-body">
        <div><b>实验次数</b>:{{trn_rounds}}</b></div>
        <div><b>累计偏差</b>:{{trn_dev}}</b></div>
        <div><b>标准差</b>:{{trn_std}}</b></div>
        <div><b>评分</b>:{{trn_score}}</b></div>   
        <a href="/riwrng/detail?mod=t">查看详情</a>
    </div>
</div>
<div class="panel panel-primary  text-white">
    <div class="panel-heading">
        <h3 class="panel-title">
            试验成绩
        </h3>
    </div>
    <div class="panel-body">
        <div><b>实验次数</b>:{{exp_rounds}}</b></div>
        <div><b>累计偏差</b>:{{exp_dev}}</b></div>
        <div><b>标准差</b>:{{exp_std}}</b></div>
        <div><b>评分</b>:{{exp_score}}</b></div>   
        <a href="/riwrng/detail?mod=e">查看详情</a>  
    </div>
</div>
{% include "total_perform.html" %}

{% endblock %}