{%extends "base.html" %}
 
{% block mainbody %}
   
<div class="row" align="center">
    <br><br>
    <div>
         <figure style="width: 100px;height: 100px;">
                    <img  src="http://thirdwx.qlogo.cn/mmopen/vi_32/icmBarsam1EodnibzlPDoG1d7QcALr7EicYWfGlST4gIYBPqYjH8oxQuLnlRgLaSVRs5YyugWKO6ujJ3haUA3jq8Q/132" class="img-thumbnail .img-rounded" alt="头像"/>
         </figure>   
    </div>
    <h5>{{usr.nickname}}</h5>
    <br>
    <div>
        <div  >
            <button type="button" style="width: 150px;" class="btn btn-primary btn-lg ">训&nbsp;练  <span style='float:right;font-size:16px;;color:#a2bcd4' class="glyphicon glyphicon-question-sign explain"></span> </button>
          
        </div> 
        <br>
        <div  >
            <button type="button" style="width: 150px;" class="btn btn-primary btn-lg ">校&nbsp;验  <span style='float:right;font-size:16px;color:#a2bcd4' class="glyphicon glyphicon-question-sign explain"></span></button>
        </div> 
        <br>
        <div  >
            <button type="button" style="width: 150px;" class="btn btn-primary btn-lg ">测&nbsp;试  <span style='float:right;font-size:16px;color:#a2bcd4' class="glyphicon glyphicon-question-sign explain"></span></button>
        </div> 
        
        <br>
         <div>
           <a href="/main">实验说明</a>&nbsp;<a href="/main">奖励规则</a>
        </div>
    </div>

</div>

<script type="text/javascript">
    
$(document).ready(function(){
  $(".explain").click(function(){
    alert("explain")
  });
  $(".btn").click(function(){
    alert("btm")
  });
});
</script>

{% endblock %}